.accordion {
  width: 100%;
  max-width: 700px;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 8px;
  border-radius: 6px;
  overflow: hidden;
}

.accordion-trigger {
  width: 100%;
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: none;
  background: #f5f5f5;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
}

.accordion-content {
  padding: 16px;
  background: white;
  border-top: 1px solid #ddd;
}
